.banner_superior{float:left; padding-left:180px; margin-top:-65px;}
.menulateral{margin-right: 60px;}
#centro{float:left;padding:5px 0px 0 0; width:740px; text-align:left;background-position:615px 0px;}

